*{
  box-sizing: border-box;
  margin: 0%;
}

html{
  font-size: 16px;
  font-family: "Poppins","Lato", sans-serif;
  /* line-height: 1; */
  color: black;
}

body{
  background-color: #635959;
}

h1{font-size: 3.625rem;}
h2{font-size: 2.875rem;}
h4{font-size: 1.75rem;}
h5{font-size: 1.5rem;}
h6{font-size: 1.375rem;}

p{
  font-size: 1.25rem;
  margin: 0.625rem;
}

.txt-black{color: black;}
.txt-white{color: #ffffff;}
.txt-gray{color: #717275;}
.txt-dark-blue, .onhover-txt-dark-blue:hover{color: #13547A;}
.txt-light-blue{color: #80D0C7;}

.bg-vlight-blue{background-color: #f0f8ff;}
.bg-sea-green{background-color: #027a6d;}
.bg-dark-blue{background-color: #13547A;}
.bg-white{background-color: #ffffff;}

.onhover-bg-dark-blue{background-color: #13547A;}
.onhover-bg-sea-green:hover{background-color: #027a6d;;}
.onhover-bg-light-green:hover{background-color: #6eaa6e;}
.onhover-white:hover{color: #ffffff;}

.buttn{
  display: inline-block;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1rem;
  /* margin: 0.25rem; */
  transition: 0.6s;
}

.pos-rel{
  position: relative;
}

.flex-container{
  display: flex; 
  flex-wrap: wrap;
}

.flex-space{
  justify-content: space-between;
}

.flex-center{
  align-items: center;
}

.shift-lft{float: left;}
.shift-rit{float: right;}

.padd-buttn{padding: 0.5rem 1rem;}
.padd-lr1{padding: 1rem 0rem;}
.padd-tb1{padding: 0rem 1rem;}

.margin-tb2{margin: 2rem 0rem;}
.margin-lr1{margin: 0rem 1rem;}
.margin-l3{margin-left: 3rem ;}

.container{
  padding: 6rem 0rem;
}

.menu{
  padding: 0.5rem;
  font-size: 1rem;
  /* background-color: ; */
}

.user{
  border-radius: 1.5rem;
  background-color: #ffffff;
  vertical-align: middle;
  font-size: 1rem;
  padding: 0.25rem;
}

.user a:hover{
  filter: invert(0.5);
}

.editor{
  width: 65%;
  margin: 2rem auto;
}

.editor > textarea{
  width: 100%;
  font-size: 1rem;
  outline-style: none;
  border-radius: 0.5rem;
  padding: 1rem;
  /* border: 0.5rem solid black; */
  /* outline-color: #13547A; */
  /* height: 10rem; */
}

textarea:focus{
  outline: 4px solid black;
}

.editor > span{
  font-size: 1.25rem;
}

button{
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 1rem !important;
  margin: 0.5rem;
  width: 13.5rem;
}

.boldFont{
  font-weight: bold;
}

.italicFont{
  font-style: italic;
}

.underlineFont{
  text-decoration: underline;
}

