*{
  box-sizing: border-box;
  margin: 0%;
}

html{
  font-size: 16px;
  font-family: "Poppins","Lato", sans-serif;
  line-height: 1.8;
}

h1{font-size: 3.625rem;}
h2{font-size: 2.875rem;}
h4{font-size: 1.75rem;}
h5{font-size: 1.5rem;}
h6{font-size: 1.375rem;}

p{
  font-size: 1.25rem;
  margin: 0.625rem;
}

.txt-white, .bg-white{color: #ffffff;}
.txt-gray{color: #717275;}
.txt-dark-blue, .bg-dark-blue{color: #13547A;}
.txt-light-blue, .bg-light-blue{color: #80D0C7;}
.bg-vlight-blue{color: #f0f8ff;}

.onhover-bg-dark-blue{background-color: #13547A;}

.buttn{
  display: inline-block;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  padding: 1rem;
  margin: 1rem;
  transition: 0.6s;
}

.pos-rel{
  position: relative;
}

.flex-container{
  display: flex; 
  justify-content: space-between;
  flex-wrap: wrap;
}

.shift-lft{float: left;}
.shift-rit{float: right;}

.padd-buttn{padding: 0.5rem 1rem;}
.padd-lr1{padding: 1rem 0rem;}
.padd-tb1{padding: 0rem 1rem;}

.margin-tb1{margin: 1rem 0rem;}
.margin-lr1{margin: 0rem 1rem;}

.container{
  padding: 6rem 0rem;
}
