*{
  box-sizing: border-box;
  margin: 0%;
}

body{
  font-size: 16px;
  font-family: "Poppins","Lato", sans-serif;
  background-image: linear-gradient(#027a6d,#13547A);
  height: 100vh;
  overflow: hidden;
}

.txt-black{color: black;}
.txt-white{color: #fcf2f2c5;}
.txt-gray{color: #717275;}
.txt-dark-blue, .onhover-txt-dark-blue:hover{background-color: #5c7481;}
.txt-light-blue{color: #80D0C7;}

.bg-vlight-blue{background-color: #f0f8ff;}
.bg-sea-green{background-color: #027a6d;}
.bg-dark-blue{background-color: #13547A;}
.bg-white{background-color: #ffffff;}

.margin-rit-half{margin-right: 0.5rem;}
.margin-lft-half{margin-left: 0.5rem;}

.margin-tb1{margin: 1rem 0rem;}
.margin-tb2{margin: 2rem 0rem;}

.btn{
  cursor: pointer;
  padding: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  display: block;
  border-radius: 1rem;
  margin: 1rem;
}

.logout{
  cursor: pointer;
  padding: .5rem;
  background-color: transparent;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 0.5rem;
  /* border: none; */
}

.app-window{
  height: 90vh;
  width: 90%;
  margin: auto;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  border-radius: 1rem;
  background-color: #141d20;
}

.homePage{
  margin: 8rem auto;
  width: 50%;
  font-weight: 600;
}

.loginForm{
  padding: 2rem 5rem;
  padding-left: 9rem;
  font-size: 1.25rem;
  color: #fcf2f2c5;
}

.display-inline-block{display: inline-block;}

.home-container{
  height: 100%;
  width: 40%;
  border-right: 1px solid #202c33;
}

.user-window-container{
  height: 90vh;
  width: 100%;
  border-radius: 1rem;
  /* background-color: #6eaa6e; */
}

nav{
  padding: 1rem;
  background-color: #2b3b44;
  height: 10%;
}

.flex{
  display: flex;
}

.align-center{
  align-items: center;
}

.txt-center{
  text-align: center;
}

.flex-vertical{
  flex-direction: column;
}

.space-between{
  justify-content: space-between;
}


.profile-icon{
  font-size: 1.25rem;
  border-radius: 2rem;
  border: 0.2rem solid black;
  color: black;
  padding: 0.4rem;
  margin-right: 0.5rem;
}

.ellipsis{
  background-color: transparent;
  border: none;
  border-radius: 1.5rem;
  padding: 0.75rem 1rem;
  cursor: pointer;
  font-size: 1.25rem;
}

.ellipsis-hover:hover{
  background-color: #717275;
}

#chat-screen{
  /* background-color: #6eaa6e; */
  background-image: url("https://wallpaperaccess.com/full/2224368.png");
  height: 80%;
  overflow-y: auto;
}

.chat-buttons{
  padding: 1rem 1.25rem;
  background-color: #202c33;
  height: 10%;
}

.chat-input-box{
  padding: 1rem;
  background-color: #2a3942;
  border-radius: 1rem;
  font-size: 1rem;
  color: #fcf2f2c5;
  outline: none;
  height: 100%;
  width: 100%;
  border: none;
}

.grow1{flex-grow: 1;}
.grow10{flex-grow: 10;}

/* .msg{
  padding: 1rem;
  background-color: #717275;
  margin: 1rem 1rem 0.05rem;
  border-radius: 0.5rem;
} */

.msg{
  display: inline-block ;
  padding: 1rem 1rem 0.5rem 1rem;
  padding-right: 5rem;
  background-color: #717275;
  margin: 1rem 1rem 0.05rem;
  height: auto;
  width: auto;
  font-size: 1rem;
  border-radius: 0.5rem;
}
.time{
  margin-top: -0.5rem;
  margin-right: -4.5rem;
  font-size: 0.65rem;

}


.float-lft{
  float: left;
  clear: both;
}

.float-rit{
  float: right;
  clear: both;
}

.top-left-corner{border-top-left-radius: 1rem;}
.top-right-corner{border-top-right-radius: 1rem;}
.bottom-left-corner{border-bottom-left-radius: 1rem;}
.bottom-right-corner{border-bottom-right-radius: 1rem;}

.user-chat-button{
  width: 100%;
  padding: 1.75rem 1rem;
  font-size: 1.25rem;
  font-style: italic;
  color: #fcf2f2c5;
  text-decoration: none;
  border-bottom: 2px solid #202c33;
}

.user-chat-button:hover{
  background-color: #2b3b44;
}

.chats-panel{
  height: auto;
  width: 100%;
  /* overflow-y: scroll; */
  /* padding: 1rem; */
}